body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #E3D4A5;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.uploadbtn {
    color: #E3D4A5;
    background-color: #DC3522;
    border-color: #DC3522;
    display: inline-block;
    padding: .375rem 1rem;
    margin-top: 29px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 10px;
}

.uploadbtn:hover{
  color:#E3D4A5;
  background-color: #C6301F;
  border-color:#374140;
  text-decoration: none;
  box-shadow: inset 0.1rem 0.1rem 3px #B02B1C;
}

.urlUpload {
  width:100%;
  background-color:#FFF;
  color: gray;
  margin-top: 30px;
  white-space: nowrap;
  text-align: left;
  font-size: 16px;
  font-family: 'Poiret One', cursive;
  border: 1px solid gray;
  border-radius: 10px;
  padding:  5px 10px;




}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
